*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.frame {
position: absolute;
top: 50%;
left: 50%;
width: 400px;
height: 400px;
margin-top: -200px;
margin-left: -200px;
border-radius: 2px;
overflow: hidden;
background: #fff;
color: #333;
background-color: #2c3e50;
}
.center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 120px;
height: 200px;
}
.base {
background-color: red;
position: relative;
width: 120px;
height: 9px;
border-radius: 3px;
background-color: #1b233e;
}

.body {
background-color: green;
position: relative;
left:50%;
transform: translate(-50%,0);
border-radius: 2px;
width: 60px;
height: 100px;
background-color: #fff;
box-shadow: inset -13px 0 0 0 #e0e5ff;
}

.neck{
    position: relative;
    background-color: grey;
    width: 4px;
    height: 15px;
    left: 50%;
    transform: translate(-50%,0);
}

.flame {
    position: relative;
    background-color: #ad88a9;
    width: 16px;
    height: 26px;
    left: 44%;
    top: 2px;
    background: #ffad00;
    transform: translate(-50%, -50%);
    border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
    z-index: 1;
    animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite, flickr 5s ease-in-out infinite;
}
@key frame Wind {}
